// Place all the styles related to the Gauchadas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home_gauchadas {
	width: 75%;
	margin: auto;

}
.titulo_gauchadas{
color: #f27321;
}
	
.imagen_gauchadas{
	float: left;
	margin-right: 1%
}
.descripcion_gauchadas:first-letter{
	float: left;	
}
.clear_gauchadas{
	clear: both;
	margin-top: 5% !important;
}
.by_autor{
	text-align: right;
	
}
.by_autor a{
 color: #f27321 !important ;
}
.link_gauchadas{
	clear: both;
	color: #fff !important ;
	margin:1%;
	padding: 1%;
	background-color: #f27321 !important ;
}
.contenedor_guchada{
	border: solid 1px #ccc ;
	padding: 1%;
	margin-bottom: 1%;
	box-shadow: 1px 2px 3px 4px;
	background:#fafafa !important;
}
.show_gauchada{
	width: 40%;
	margin: auto;
	margin-top: 20px;
	border:2px #ccc solid;
	box-shadow: 1px 2px 3px 4px;
	padding: 2%;
	background-color: #fafafa ;
}
.title_gauchada{

	text-align: center;
	margin-bottom: 20px;
}
.postulantes_gauchada{
	text-align: right;
}
.imagen_gauchada{
	margin-bottom: 20px;
	text-align: center;
}
.descripcion_gauchada{
	padding: 3%;
	
	border: 0.1px solid #ccc;
}
.autor_gauchada{
	text-align: right;
}
p.descripcion_gauchadas {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*p.descripcion_gauchadas {
    
    overflow: hidden !important;
    
    line-height: 1.8em !important;
    max-height: 3;
    
    max-height: 5.6em !important;
    text-overflow: ellipsis;
    line-height: 1.8em;
    word-wrap: break-word;
} */
